/* Don't touch this START */

.container{
    padding: 8px;
    border: 10px dotted lightblue;
  }
  .box,.expand{
    min-width: 40px;
    min-height: 40px;
    padding: 4px;
    border: 5px dotted lightcoral;
  }
  
  .inner-box,
  .logo{
    min-width: 40px;
    min-height: 40px;
    border: 5px dotted rgb(128, 240, 188);
  }
  
  /* Don't touch this END */
  
  /* Write CSS Here */
  
  .logo {
    display: grid;
    grid-area: logo;
    border: 5px dashed black;
  }
  .expand {
    grid-area: expand;
    display: grid;
    
  }
  .maintain1 {
    grid-area: maintain1;
  }
  .maintain2 {
      grid-area: maintain2;
    }
  .two-column-grid{
      display: grid;
      grid-template-columns: repeat(2, minmax(200px, 1fr));
      gap: 5px;
     
    }
  .three-column-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 5px;
  
  }
  .container.three-column-grid{
      display: grid;
      width: 100%;
  }
  .two-column-grid__expand-two {
    display: grid;
    grid-template-columns: [logo] 100px [expand] 1fr;
    gap: 5px;
   
  }
  .three-column-grid__expand-two {
    display: grid;
    grid-template-columns: [maintain1] 100px [expand] 1fr [maintain2] 100px;
    gap: 5px;
  }
  .three-column-grid-last{
      display: grid;
      grid-template-columns: [box1] 50px [box2] 1fr [box3] 1fr;
      gap: 5px;
    }
  .box1{
      display: grid;
      grid-area: box1;
      width: 30px;
      justify-items: center;
  }
  .box2{
      display: grid;
      grid-area: box2;
  }
  .box3{
      display: grid;
      grid-area: box3;
  
  }
  .five-column-grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    gap: 5px;
  }
  .center-grid {
    display: grid;
    justify-items: center;
  }
  /* Grid within Grid Section */
  /* Practice re-using classes */
  
  
  